{{>navbar}}
{{#if error_msg}}
  <div class="invisible">erro,{{error_msg}}</div>
{{/if}}
{{#if msg}}
  <div class="invisible">{{tipo}},{{msg}}</div>
{{/if}}
  <div class="container">    
    <div class="card">
      <h1>Lista de movimentações do Estoque</h1>
        <div class="msg" id="msg"><p id="msgtext"></p></div>
        <div class="list">
        {{#each rows}}
          <div class="line ">
            <div class="textfield cod">
              <label for="codigo_estoque">Código</label>
              <input type="text" name="codigo" id="codigo_estoque" value="{{codigo}}"/>
            </div>
            <div class="textfield cod">
              <label for="qtde_estoque">qtde</label>
              <input type="text" name="qtde" id="qtde_estoque" value="{{qtde}}"/>
            </div>
            <div class="textfield cod">
              <label for="data_estoque">Data</label>
              <input type="text" name="data" id="data_estoque"value="{{dtAtual}}"/>
            </div>
          </div>
        {{/each}}
        </div>
    </div>
  </div>