<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Relatório por fornecedor</h1>
  <div class="data">Data: {{dtAtual}}</div>
  <hr>
  <div class="periodo">Periodo:&nbsp &nbsp{{dtIni}} &nbsp a &nbsp {{dtFim}}</div>
  <hr>
  <div class="periodo">fornecedor: {{fornecedor}}</div>
  <hr>
  <table>
      <thead>
        <tr>
          <th>Produto</th>
          <th class="pq">Qtde</th>
          <th>Data</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        {{#each dados}}
          <tr>
            <td>{{codigo}} - {{descricao}}</td>
            <td class="pq">{{qtde}}</td>
            <td>{{data}}</td>
            <td>{{valor}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">TOTAL</td>
          <td colspan="2">{{total}}</td>
        </tr>
      </tfoot>
  </table>

</body>
</html>

<style>
  h1 {
    text-align: center;
    color: #BF8C2C;
    text-shadow: 1px 1px #201b2c;
  }

  .data {
    text-align: end;
    color: #201b2c;
  }

  .periodo {
    color: #201b2c;
  }

  table {
    border: 3px solid #BF8C2C;
    width: 100%;
    color: #222;
  }

  td, th {
    text-align: center;
    border: 1px solid #be9b5a;
    margin: 0;
    padding: 5px;
    font-size: 1.5rem;
  }

  hr {
    border-color: #BF8C2C;
  }

  th{
    background-color: #BF8C2C;
  }

  table > tfoot {
    background-color: #BF8C2C;
    font-weight: bold;
  }

  .pq {
    width: 50px;
  }
</style>