{{>navbar}}
{{#if msg}}
  <div class="invisible">{{tipo}},{{msg}}</div>
{{/if}}
<form action="" method="post" id="form">
  <input type="hidden" id="idItem" name="idItem">
  <input type="hidden" id="tipo">
  <div class="container">
    <div class="card">
      <h1>Contas fixas</h1>
        <div class="msg" id="msg"><p id="msgtext"></p></div>
      <div class="line">
        <div class="textfield">
          <table class="tab-CF">
            <thead>
              <tr>
                <th class="lf1">Descrição</th>
                <th class="lf2">Data</th>
                <th class="lf3">Valor</th>
                <th class="l4">Ações</th>
              </tr>
            </thead>
            <tbody class="tbody-CF">
              {{#each dados}}
              <tr>
                <td class="lf1">{{descricao}}</td>
                <td class="lf2">{{dataf}}</td>
                <td class="lf3">{{valor}}</td>
                <td class="l4">
                  <input type="button" value="Editar" class="btnEdit" onclick="btnEditCF({{id}})" />
                  <input type="button" value="Deletar" class="btnDelet" onclick="btnDeletCF({{id}})"/>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div> 
      <button class="btn-salvar" id="btnInserirCF">Inserir Conta</button>
    </div>
  </div>
</form>

<script>
  function btnEditCF(id) {
    $('#tipo').val('edit')
    $('#idItem').val(id)
    $('#idItem').focus()
  }
  function btnDeletCF(id) {
    $('#tipo').val('delet')
    $('#idItem').val(id)
    $('#idItem').focus()
  }

</script>