<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Relatório de Estoque em qtde mínima</h1>
  <div class="data">Data: {{dtAtual}}</div>
  <hr>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Fabricante</th>
        <th>Qtde Min</th>
        <th>em Estoque</th>
      </tr>
    </thead>
    <tbody>
      {{#each estoque}}
        <tr>
          <td>{{codigo}}</td>
          <td>{{descricao}}</td>
          <td>{{fabricante}}</td>
          <td id="qtdeMin">{{qtdeMin}}</td>
          <td id="qtde">{{qtde}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>

<style>
  h1 {
    text-align: center;
    color: #BF8C2C;
    text-shadow: 1px 1px #201b2c;
  }

  .data {
    text-align: end;
    color: #201b2c;
  }

  table {
    border: 3px solid #BF8C2C;
    width: 100%;
    color: #222;
  }

  td, th {
    text-align: center;
    border: 1px solid #be9b5a;
    margin: 0;
    padding: 0;
  }

  hr {
    border-color: #BF8C2C;
  }

  th{
    background-color: #BF8C2C;
  }

  #qtdeMin {
    width: 100px;
  }

  #qtde {
    width: 120px;
  }
</style>