<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Relatório de Vendas</h1>
  <div class="data">Data: {{dtAtual}}</div>
  <hr>
  <div class="periodo">Periodo:&nbsp &nbsp{{dtIni}} &nbsp a &nbsp {{dtFim}}</div>
  <hr>
  <table>
      <thead>
        <tr>
          <th>N° da venda</th>
          <th>Data da venda</th>
          <th>Valor da venda</th>
          <th>Vendedor</th>
        </tr>
      </thead>
      <tbody>
        {{#each vendas}}
          <tr>
            <td>{{id}}</td>
            <td>{{dataVd}}</td>
            <td>R$ {{valor}}</td>
            <td>{{nome}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="height: 5px;"></tr>
        <tr>
          <td colspan="2"> Total das vendas no periodo</td>
          <td colspan="2">R$ &nbsp {{total}}</td>
        </tr>
      </tfoot>
  </table>

</body>
</html>

<style>
  h1 {
    text-align: center;
    color: #BF8C2C;
    text-shadow: 1px 1px #201b2c;
  }

  .data {
    text-align: end;
    color: #201b2c;
  }

  .periodo {
    color: #201b2c;
  }

  table {
    border: 3px solid #BF8C2C;
    width: 100%;
    color: #222;
  }

  td, th {
    text-align: center;
    border: 1px solid #be9b5a;
    margin: 0;
    padding: 0;
  }

  hr {
    border-color: #BF8C2C;
  }

  th{
    background-color: #BF8C2C;
  }

  tfoot > tr{
    padding: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #be9b5a;
  }
</style>